<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
<h1>Добро пожаловать, {{ user }}!</h1>
{% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}
<form method="post">
    {% csrf_token %}
    <label for="code">Введите код для авторизации:</label>
    <input type="text" id="code" name="code" required>
    <button type="submit">Submit</button>
</form>
</body>
</html>